[MASTER]
init-hook='import sys; sys.path.append(".")'

source-roots=.

[MESSAGES CONTROL]
disable=import-error,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        line-too-long
