fastapi
uvicorn
openai
pydantic
python-dotenv
pydantic-ai
langchain
langchain-openai
langchain-core
langchain-chroma
streamlit
# Unit testing dependencies
pytest
pytest-asyncio
pytest-mock
httpx
# Logging dependencies
logfire